*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* Coming soon*/
h1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
    color: #000000;
}

/*coming soon paragraph*/
p{
    color:#5D5F63;
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    margin-left: 20px;
}